.datos {
    /*margin-left: 57rem;*/
    margin-top: -34rem;
    width: 200rem;
    background-color: #1877F2;
}

.letra {
    font-size: 1.4rem;
}

.name {
    text-align: right;
    margin-right: 18rem;
    margin-top: 3rem;
    padding-top: -10rem;
    color: white;
}

.imagen {
    margin-right: 3rem;
    margin-top: -5rem;
    margin-bottom: 0.5rem;
}